.create-account-page {
    height: 100vh;
    width: 100vw;
    background-image: url('../../imgs/NewCreateAccount.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.form-container {
    max-width: 700px;
    width: 100%;
    z-index: 2;
}

.login-button-wrapper {
    position: absolute;
    top: 30px;
    right:100px;
    z-index: 3;
}

.login-button {
    width: 200%;
    height: 60px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;

    background: #6a97c4;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    transition: all 0.3s ease;
}

.login-button:hover {
    background: #27496b;
    color: white;
    border-color: white;
}