.login-page {
   height: 100vh;
   width: 100vw;
   background-color: #f0f4f8;
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   box-sizing: border-box;
   position: relative;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 3;
}

.create-account {
    width: 110%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

    background: #6a97c4;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    transition: all 0.3s ease;
  }

  .create-account:hover {
    background: #27496b;
    color: white;
    border-color: white;
  }